.header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}
.header__logo{
  display: inline-block;
  position: relative;
  z-index: 110;
  padding-top: 0.75rem;
}
.header__menu{
  flex: 1;
  text-align: right;
  margin-right: rem(20px);

  @include tablets {
    display: none;
  }
}
.header__button{
  display: flex;
  align-items: center;
  margin-left: 0.5625rem;  
}