$bg: #000;

$baseFontSize: 14;

@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) { $pixels: $pixels * 1px; }

  @if  (unitless($context)) {
    $context: $context * 1px;}

  @return $pixels / $context * 1rem;
}

/*@mixin icon ($name, $className) {
  $icon : "./icons/${name}.svg";
  <svg class=$className viewBox=$icon.viewBox preserveAspectRatio="none">
    <use xlink:href=$icon />
  </svg>
}
@mixin image(path,className) {
  img(src=requre('images/${path}') class=className)
}*/

@function rem($px) {
  @return $px / 14px + 0rem;
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}