.best{
  background:url(../../images/bg.png) center center no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  background-position: center center;
  .best__title {
    margin-bottom: rem(80px);
    @include tablets {
      margin-bottom: rem(40px);
    }
  }
}
.best__list{
  display: flex;
  
  @include phones {
    flex-direction: column;
  }
}
.best__item{
	margin-bottom: rem(50px);
  padding: 0 rem(15px);
  display: flex;
  flex-direction: column;
  @include phones {
    flex-direction: row;
    width: 100%;
    margin-bottom: rem(25px);
  }
}
.best__title{
  margin-top: rem(133px);
  margin-bottom: rem(30px);
  color: #2f3234;
  font-family: Gagalin;
  font-size: rem(72px);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.best__avatar{
  
  @include phones{
    margin-bottom: 0;
    margin-right: 0.5rem;
    width: 30%;
  }
}
.best__avatar-img{

  @include phones{
    position: static;
    transform: none;
  }
}
.best__username{
  color: #2f3234;
  font-family: Lifehack;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;	
}
.best__desk{
  font-size: 0.875rem;
  line-height: 1.8;
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 0.8rem;
  font-weight: 500;
  font-style: normal;
  
  @include phones{
    text-align: left;
    display: block;
    width: 100%;
  }
}
.best__desc-text{
  font-size: 0.875rem;
  line-height: 1.8;
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: rem(13px);
  font-weight: 500;
  font-style: normal;
	margin: rem(20px);
}