.burger{
  background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%);
  align-items: center;
  justify-content: center;
}
.slider-wrap{
  overflow: hidden;
  width: 100%;
}
.slider__options{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  @include tablets{
    justify-content: center;
  }
}

.slider__text {
  color: white;
  margin-bottom: 1.875rem;
}
.text-block p {
  font-size: 0.875rem;
  line-height: 1.8;
}
.slider__button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  z-index: 20;
}
.slider__button-next{
  right: -2.5rem;

  @include tablets{
    right: -0.625rem;
  }
  @include phones{
    right: -0.625rem;
  }
}
.slider__button-prev{
  left: -2.5rem;

  @include tablets{
    right: -0.625rem;
  }
  @include phones{
    right: -0.625rem;
  }
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;

}
.owl-carousel .owl-stage {
  position: relative;

}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;

}
.owl-carousel, .owl-carousel .owl-item {

  position: relative;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.slider__item {
  width: 100vh;
  position: relative;

  display: flex;
  align-items: center;

  @include tablets{
    padding: 0;
    padding-top: 4.6875rem;
    flex-direction: column;
  }
  @include phones{
    position: relative;
  }
}
.slider__list{
  display: inline-flex;
  overflow: hidden;
}
.ingredients {
  position: absolute;
  top: 1.25rem;
  background: rgba(227, 80, 40, 0.4);
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  transition: 300ms;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablets{
    top: 0;
  }
  @include phones{
    position: static;
    margin-top: -4.625rem;
  }
}
.ingredients__icon {
  height: 60%;
  fill: #fff;
}
.ingredients__icon-text {
  color: white;
  font-size: 0.875rem;
  font-family: gagalin;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}
.burger-weight {
  position: absolute;
  bottom: 0px;
  left: 0;
  opacity: 0.5;

  @include tablets{
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
  }
}
.burger-weight {
  background: url(images/weight.png) 50% no-repeat;
  width: 4.0625rem;
  height: 3.75rem;
  position: relative;
  background-size: contain;
}
.slider__left {

  text-align: center;
  align-items: flex-end;
  display: flex;
  justify-content: center;

  @include tablets{
    padding-top: 0;
  }
}

.slider__right {
  width: 60%;

  @include tablets{
    padding: 0 13%;
  }

  @include phones{
    padding: 0 5%;
  }
}
.slider__left, .slider__right{
  @include tablets{
    width: 100%;
    text-align: center;
  }
}
.slider__left .section__title, .slider__right .section__title{
  @include tablets{
    font-size: 3.125rem;
  }
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  
}
.slider__pic {
  max-width: 98%;

  @include tablets{
    max-width: 65%;
  }
}
img {
  border-style: none;
}
.section__title.section__title_white {
  color: white;
}
.slider__right .section__title {
  line-height: 1em;
}
.burgers .section__title {
  margin: 0.625rem 0 1.875rem 0.625rem;
}
.section__title {
  color: #f9b43b;
  font-size: 4rem;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.slider__price {
  display: flex;
  align-items: flex-end;
  color: #e35028;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}
.slider__price-amount {
  font-size: 4.5rem;

  @include tablets{
    font-size: 3.125rem;
  }
}
.slider__price-amount, .slider__price-measure {
  line-height: 1;
}
.slider__price-measure {
  font-size: 1.875rem;
}
.slider__price-amount, .slider__price-measure {
  line-height: 1;
}
.btn {
  width: 6.92857rem;
  height: 2.5rem;
  display: inline-block;
  vertical-align: top;
  background: #e45028;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3125rem;
  padding: 0.1875rem 1rem;
  line-height: 1.875rem;
  font-family: ubuntu;
  font-weight: 500;
  font-style: normal;
  border: 1px solid transparent;
  transition: background-color 0.5s;
  cursor: pointer;
  outline: none;
}
.btn_buy {
  margin-left: 2rem;
}