.burger{
  background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%);
  align-items: center;
  justify-content: center;
}
.slider-wrap{
  position: relative;
}