.footer{
  display: block;
  width: 100%;
  background: url(../images/footer.jpg) center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0;
}
.footer__container{
  display: flex;
  flex-direction: row;
  align-items: center;

  @include phones{
    flex-direction: column;
    align-items: center;
  }
}
.footer__col{
  width: 50%;
  margin-bottom: 0.9375rem;

  @include phones{
    width: 100%;
    text-align: center;
  }
}
.footer__adress{
  color: #ffffff;
  font-size: 0.875rem;
}
.footer__phone{
  color: #e35028;
  font-family: ubuntu;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  font-size: 0.875rem;
}
.footer__socials{
  text-align: right;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;

  @include phones{
    justify-content: center;
    
  }
}
.footer__socials--list{
  position: relative;
  top: 50%;
}
.footer__socials--item{
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.625rem;
}
.footer__socials--item:first-child{
  margin-left: 0rem;
}
.footer__socials--link{
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  opacity: 0.6;
  transition: 300ms;
}
.footer__socials--icon{
  width: 1.25rem;
  height: 1.25rem;
  fill: #fff;
  opacity: 0.7;
  transition: opacity 300ms;
}
.vk .fb .inst .tw{
  width: 20px;
  height: 15px;
}



