.form{
  background: url(../images/bg-texture1.jpg);
  background-size: cover;
  align-items: center;  
}
.section {
  height: 100%;
  min-height: 40.625rem;
  position: relative;
  display: flex;
  overflow: hidden;
}
.container {
  max-width: 58.75rem;
  min-width: 18.75rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.form__title{
  text-align: center;
  color: #f9b43b;
  font-size: 4.5rem;
  font-family: gagalin;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.main-form{
  display: flex;
  justify-content: space-between;

  @include tablets{
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding: 0 15%;
  }

  @include phones{
    padding: 0;
  }
}
.form__col{
  width: 50%;
  float: left;
  margin-right: 1.25rem;

  &:last-child{
    margin-right: 0;
  }
  @include tablets {
    margin-left: 0;
    flex-direction: column;
    padding: 0 15%;
  }
  
  @include phones{
    padding: 0;
  }
}
.form__row{
  display: flex;
  margin-bottom: 1.25rem;

  @include tablets{
    width: 100%;
  }
}
.form__block{
  margin-right: 1.25rem;
  width: 100%;
  &:last-child{
    margin-right: 0;
  }
}
.form__label{
  color: #fff;
  margin-bottom: rem(10px);
  font-size: 0.875rem;
}
.form__input{
  border: 1px solid transparent;
  border-radius: 0.3125rem;
  width: 100%;
  padding: 0.3125rem 0.625rem;
}
.form__input-textarea{
  height: rem(110px);
  resize: none;
}
.form__radio{
  display: flex;
  margin-right: 1.25rem;
  align-items: center;
}
.form__radio-elem, .form__checkbox-elem {
  position: absolute;
  clip: rect(0 0 0 0);
  width: rem(1px);
  height: rem(1px);
  overflow: hidden;
}
.form__radio-fake{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  position: relative;
  
  &:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    background: #e35028;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 300ms, height 300ms;
  }
}
.form__radio-elem:checked + .form__radio-fake:after {
  width: 0.5rem;
  height: 0.5rem;
}
.form__radio-title{
  color: #fff;
  margin-bottom: 0;
  margin-left: 0.625rem;
}
.form__checkbox{
  display: flex;
  align-items: center;
}
.form__checkbox-fake{
  width: 1rem;
  height: 1rem;
  background: #fff;
  position: relative;
}
.form__checkbox-elem:checked + .form__checkbox-fake:after {
  content: "";
  background: url(../../images/mark.png) 50% no-repeat transparent;
  background-size: contain;
  width: rem(11px);
  height: rem(9px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__radio-title{
  color: #fff;
  margin-bottom: 0;
  margin-left: 0.625rem;
}
.form__button {
  margin-right: rem(20px);
  border: 0;
  background: #e35028;
  font-size: rem(13px);
  text-transform: uppercase;
  border-radius: rem(5px);
  color: #ffffff;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: middle;
  font-style: normal;
  padding: rem(10px) rem(15px);
  cursor: pointer;

  @include phones {
    margin-left: rem(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.form__button-reset{
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}