.hamburger-menu-link{
  vertical-align: middle;
  position: relative;
  height: rem(22px);
  align-items: center;
  margin-left: rem(30px);
  display: none;

  @include tablets {
    display: flex;
    position: fixed;
    top: 2.2rem;
    right: 2.2rem;
    z-index: 2;
  }
  @include phones{
    top: 2.4rem;
    right: 1.2rem;
  }
}
.hamburger-menu-link__bars{
  &, &:before, &:after {
    background: #fff;
    width: rem(24px);
    height: rem(5px);
    border-radius: rem(3px);
    z-index: 100;
    cursor: pointer;
    transition: transform 0.25s ease;
  }

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
  }

  &:before {
    top: 0;
  }

  &:after{
    bottom: 0;
  }
}
.hamburger-menu {
  position: absolute;
  left: -99999px;
  right: 0;
  background: rgba(47, 50, 52, 0.95);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 10;
  transition: opacity .3s;
}
.nav_hamburger {
  width: auto;

  @include tablets {
    display: block;
  }
}
.nav {
  display: inline-block;
  vertical-align: middle;

  @include tablets {
    display: none;
  }
}
.nav_hamburger .nav__list {
  flex-direction: column;
}
.nav__list {
  width: 100%;

  @include tablets {
    
}