.burgermenu{
  height: 100vh;
  min-height:rem(650px);
  position: relative;
  display: flex;
  overflow: hidden;
  background-image: url(../images/menu.png);
  background-size: cover;
}
.burgermenu__title{
  position: absolute;
  top: rem(110px);
  left: rem(90px);
  color: white;
  font-size: 4.5rem;
  font-family: gagalin;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.burgermenu-accordeon{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.burgermenu-accordeon__item{
  display: inherit;
  float: left;
  height: 100%;
}
.burgermenu-accordeon__item.active{
  width: auto;
}
.burgermenu-accordeon__item.active .burgermenu-accordeon__text{
  width: rem(450px);
}
.burgermenu-accordeon__title{
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  float: left;  
  background: center center / cover no-repeat;
  text-decoration: none;
  position: relative;
}
.burgermenu-accordeon__name{
  font-size: 2.5rem;
  color: #fff;
  font-family: gagalin;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  transform: rotate(-90deg);
}
..burgermenu-accordeon__name
.burgermenu-accordeon__content{
  height: 100%;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden;
}
.burgermenu-accordeon__text{
  font-family: ubuntu;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  color: #fff;
  padding: 3.75rem 1.875rem;
  width: 100%;
  line-height: 1.8;
}