.nav{
  display: inline-block;
  vertical-align: middle;

  @include tablets {
    display: none;
  }
}
.nav__list{
  width: 100%;
  display: flex;
  align-items: center;
}
.nav__item{
  display: flex;
  align-items: center;

  &:last-child {
  margin-right: 0;
  
    &:after{
    display: none;
    }
  }
  
  
}
.nav__item:after{
  content: "";
  display: block;
  vertical-align: middle;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: white;
  margin: 0 0.875rem;
}
.nav__link{
  display: inline-block;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: rem(13px);
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
}