.pagination{
  list-style: none;
  margin-right: rem(57px);
  cursor: pointer;
  position: fixed;
  top: rem(97px);
  right: rem(-24px);
} 
		
.pagination__pages{
	position: fixed;
	top: rem(90px);
	right: rem(40px);

	@include tablets {
		display: none;
	}
}
.pagination__link{
  width: rem(16px);
	height: rem(16px);
	display: block;
	position: relative;

	&:after, &:before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	&:after {
		width: rem(6px);
		height: rem(6px);
		background: #fff;
	}

	&:before {
		width: rem(0px);
		height: rem(0px);
		border-radius: 50%;
		border: rem(1px) solid #fff;
		opacity: 0;
		transition: .3s;
	}

	&:hover {
		&:before {
			width: rem(14px);
			height: rem(14px);
			opacity: 1;
		}
	}
}
.pagination__pages-item.active .pagination__link:before{
  width: rem(14px);
  height: rem(14px);
  opacity: 1;
}

.pagination__pages-item{
  margin-bottom: rem(5px);
}
.pagination__down{
  position: absolute;
  bottom: rem(20px);
  left: 50%;
  width: rem(60px);
  transform: translateX(-50%);
  transition: .3s;
  height: rem(60px);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .pagination__img {
      margin-top: rem(-15px);
    }
  }
}
.pagination__img{
  transition: .3s;
}

.fixed-menu {
	position: fixed;
	top: rem(90px);
	right: rem(40px);

	@include tablets {
		display: none;
	}
}

.fixed-menu__link {
	width: rem(16px);
	height: rem(16px);
	display: block;
	position: relative;

	&:after, &:before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	&:after {
		width: rem(6px);
		height: rem(6px);
		background: #fff;
	}

	&:before {
		width: rem(0px);
		height: rem(0px);
		border-radius: 50%;
		border: rem(1px) solid #fff;
		opacity: 0;
		transition: .3s;
	}

	&:hover {
		&:before {
			width: rem(14px);
			height: rem(14px);
			opacity: 1;
		}
	}
}

.fixed-menu__item {
	&.active {
		.fixed-menu__link {
			&:before {
				width: rem(14px);
				height: rem(14px);
				opacity: 1;
			}
		}
	}
}

.fixed-menu__item {
	margin-bottom: rem(5px);
}