.rewiews{
  height: 100vh;
  min-height:rem(650px);
}
.rewiews__list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;    
}
.rewiews__item{
  width: 25%;
  height: 50%;
  position: relative;

  @include tablets {
    width: 50%;
    height: 25%;
  }

  &:hover .rewiews__block{
    opacity: 1;
  }
}
.rewiews__avatar{
  position: relative;
  width: 100%;
  height: 100%;
}
.rewiews__avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  transition: 300ms;
}
.rewiews__avatar-img{
  width: 100%;
  height: 100%;
  background: center center / cover no-repeat;
  filter: grayscale(100%);
}
.rewiews__block{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  transition: 300ms;
  overflow: hidden;
  padding-top:rem(50px);
  padding-left: rem(20px);
  padding-bottom: rem(50px);
  padding-right: rem(40px);
  opacity: 0;

  @include tablets{
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.rewiews__block:hover, .rewiews__block:after{
  content: "";
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  transition: 300ms;
  opacity: 1;
  color: #ffffff;
  font-size: 0.875rem;
  font-family: Ubuntu;
  font-size: rem(13px);
  font-weight: 500;
  margin-bottom: 0.8125rem;
}
.rewiews__name {
  color: #fff;
  font-family: gagalin;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 1.5625rem;
}
.rewiews__text{
  color: #ffffff;
  font-size: 0.875rem;
  font-family: ubuntu, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 0.8125rem;

  @include phones{
    display: none;
  }
}
.rewiews__button{  
  display: inline-block;
  width: rem(110px);
  height: rem(35px);
  background-color: #2f3234;
  border-radius: rem(3px);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Ubuntu;
  font-size: rem(13px);
  font-weight: 500;
  font-style: normal;
  line-height: rem(30px);
  transition: 300ms;
  border: 1px solid transparent;
  outline: none;
}