.team{
  background: url(../images/teampic.jpg) center center no-repeat;
  background-size: cover;
  position: relative;

	.team__title {
		margin-bottom: 12%;
	}

	@include tablets {
		display: flex;
		align-items: center;
		justify-content: center;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(#2f3234, .93);
		}
	}
}
.team__container{
  position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 50%;
	background: rgba(#2f3234, .93);
	padding: 5% 2% 0 7%;


	@include tablets {
		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		text-align: center;
		background: transparent;
		padding: 0;
	}
}
.team__title{
  color: #f9b43b;
  font-family: Gagalin;
  font-size: rem(72px);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.team-accordeon {
	@include tablets {
		padding-bottom: rem(20px);
	}
}
.team-accordeon__item {
  margin-bottom: 2.5rem;

  @include tablets {
    text-align: center;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &_active {
    .team-accordeon__link {
      color: #f9b43b;

      &:before {
        transform: rotate(-180deg);
      }
    }
  
    .team-accordeon__about{
      display: flex;

      @include tablets {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.team-accordeon__item.active, .team-accordeon__link{
  color: #f9b43b;
}
.team-accordeon__link{
  color: #fff;  
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
  margin-bottom: rem(20px);
  
  @include tablets {
    display: inline-flex;
  }

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    left: -1.125rem;
    top: 0.5rem;
    width: 0;
    height: 0;
  }

  &:before{
    border-top: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0px solid transparent;
    transform: rotate(0deg);
    transition: 300ms;
  }
}
.team-accordeon__item.active .team-accordeon__link:before {
  transform: rotate(-180deg);
}

.team-accordeon__about{
  padding-top: 1.25rem;
  display: none;
}
.team-accordeon__avatar{
  margin-right: 1.25rem;
}
.team-accordeon__avatar, .team-accordeon__desk{
  float: left;
}
.team-accordeon__img{
  background-image: url(../../images/daniel.jpg) center center / cover no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}
.team-accordion__desc {
  width: 70%;
}
.team-accordeon__oper{
  font-family: ubuntu;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 0.875rem;
}
.team-accordeon__text{
  font-family: ubuntu;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 0.875rem;
}