.best {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  overflow: visible;
  margin: 0;
  background: url(../../images/bg.png) center center/cover no-repeat; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.best__item {
  margin: 0;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 33.3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px; }

.best__title {
  margin-top: 133px;
  margin-bottom: 30px;
  color: #2f3234;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase; }

.best__avatar {
  margin: 20px;
  overflow: hidden;
  width: 97px;
  height: 89px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 20px; }

.best__username {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  margin: 20px; }

.best__desk {
  font-size: 0.875rem;
  line-height: 1.8;
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  margin: 20px; }

.best__desc-text {
  font-size: 0.875rem;
  line-height: 1.8;
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  margin: 20px; }
