.footer{
  display: block;
  width: 100%;
  background: url(../../images/footer.jpg) center cover bottom no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0;
}
.footer__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.footer__contacts{
  width: 50%;
}
.footer__adress{
  color: #ffffff;
  font-size: 0.875rem;
}
.footer__phone{
  color: #e35028;
  font-family: ubuntu;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  font-size: 0.875rem;
}
.footer__socials{
  width: 50%;
  text-align: right;
  margin-bottom: 0;
}
.footer__socials--list{
  position: relative;
  top: 50%;
}