.rewiews {
  height: 100vh;
  min-height: 650px; }

.rewiews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.rewiews__item {
  width: 25%;
  height: 50%;
  position: relative;
  /*@include tablets {
    width: 50%;
    height: 25%;
  }*/ }
  .rewiews__item:hover .rewiews__block {
    opacity: 1; }

.rewiews__avatar {
  position: relative;
  width: 100%;
  height: 100%; }

.rewiews__avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.rewiews__avatar-img {
  width: 100%;
  height: 100%;
  background: center center / cover no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.rewiews__block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  overflow: hidden;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 50px;
  padding-right: 40px;
  opacity: 0; }

.rewiews__block:hover, .rewiews__block:after {
  content: "";
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  opacity: 1;
  color: #ffffff;
  font-size: 0.875rem;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.8125rem; }

.rewiews__name {
  color: #fff;
  font-family: gagalin, cursive;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 1.5625rem; }

.rewiews__text {
  color: #ffffff;
  font-size: 0.875rem;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 17px;
  line-height: 24px;
  /*@include phones{
    display: none;
  }*/ }

.rewiews__button {
  display: inline-block;
  width: 110px;
  height: 35px;
  background-color: #2f3234;
  border-radius: 3px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  border: 1px solid transparent;
  outline: none; }
