.team {
  background: url(../../images/teampic.jpg) center center/cover no-repeat;
  height: 100%;
  min-height: 40.625rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.team__container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  background: #2f3234;
  padding: 60px 25px 0 90px; }

.team__title {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 5rem; }

.team-accordeon__item {
  margin-bottom: 2.5rem; }

.team-accordeon__item.active, .team-accordeon__link {
  color: #f9b43b; }

.team-accordeon__link {
  color: #fff;
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block; }

.team-accordeon__item.active .team-accordeon__link:before {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.team-accordeon__link:before {
  border-top: 0.4375rem solid #f9b43b;
  border-left: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent;
  border-bottom: 0px solid transparent;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

.team-accordeon__link:before, .team-accordeon__link:after {
  content: "";
  display: block;
  position: absolute;
  left: -1.125rem;
  top: 0.5rem;
  width: 0;
  height: 0; }

.team-accordeon__about {
  padding-top: 1.25rem;
  display: none; }

.team-accordeon__avatar {
  margin-right: 1.25rem; }

.team-accordeon__avatar, .team-accordeon__desk {
  float: left; }

.team-accordeon__img {
  background-image: url(../../images/daniel.jpg) center center/cover no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%; }

.team-accordion__desc {
  width: 70%; }

.team-accordeon__oper {
  font-family: ubuntu;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 0.875rem; }

.team-accordeon__text {
  font-family: ubuntu;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 0.875rem; }
