.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 960px;
  overflow: hidden;
  margin: 0 auto; }

.wrapper__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }
