.button{
  list-style: none;
}
.button__clik{
  width: rem(97px);
  height: rem(35px);
  display: inline-block;
  vertical-align: top;
  background-color: #e45028;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: rem(13px);
  font-weight: 500;
  line-height: rem(30px);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  border: none;
  outline: none;
  border-radius: rem(5px);
}