.name{
  padding-top: rem(115px);
  @include tablets {
    text-align: center;
    padding: rem(30px) 20% 0;
  }
  @include phones {
    padding: 0 3%;
  }
}
.name__first{
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 4.5rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.name__second{
  font-size: rem(65px);
  color: white;
  text-transform: lowercase;
  line-height: 1em;
  font-family: Lifehack;
  
}